<template>
  <div class="">
    <h1 class="text-center mt-4 mb-4">{{ country }}</h1>
    <vue3-chart-js v-if="display" v-bind="{ ...lineChart }" />
  </div>
</template>

<script>
import Vue3ChartJs from "@j-t-mcc/vue3-chartjs";
import dataLabels from "chartjs-plugin-datalabels";
import { ref, onMounted } from "vue";
import { useRoute } from "vue-router";
import axios from "axios";
export default {
  name: "Graph",
  components: {
    Vue3ChartJs,
  },
  setup() {
    const route = useRoute();
    const country = ref("");
    let options = {
      plugins: {
        zoom: {
          zoom: {
            wheel: {
              enabled: true,
            },
            pinch: {
              enabled: true,
            },
            mode: "y",
          },
        },
        datalabels: {
          backgroundColor: function (context) {
            return context.dataset.backgroundColor;
          },
          borderRadius: 4,
          color: "white",
          font: {
            weight: "bold",
          },
          formatter: Math.round,
          padding: 3,
        },
      },
    };
    const display = ref(false);
    const covidDetail = ref({});
    const lineChart = ref({});

    const getData = async (city) => {
      const resp = await axios.get(
        "https://disease.sh/v3/covid-19/historical/" + city
      );
      country.value = city;
      covidDetail.value = resp.data;
      let label = await Object.keys(resp.data.timeline.cases);
      let casesValue = await Object.values(resp.data.timeline.cases);
      let deathsValue = await Object.values(resp.data.timeline.deaths);
      let recoveredValue = await Object.values(resp.data.timeline.recovered);

      lineChart.value = {
        type: "line",
        plugins: [dataLabels],
        data: {
          labels: label,
          datasets: [
            {
              label: "ผู้ติดเชื้อรายใหม่",
              data: casesValue,
              fill: false,
              borderColor: "red",
              backgroundColor: "red",
            },
            {
              label: "เสียชีวิต",
              data: deathsValue,
              fill: false,
              borderColor: "#000",
              backgroundColor: "#000",
            },
            {
              label: "รักษาหาย",
              data: recoveredValue,
              fill: false,
              borderColor: "green",
              backgroundColor: "green",
            },
          ],
        },
        options: options,
      };

      display.value = true;
    };

    onMounted(() => {
      const country = route.params.country;
      getData(country);
    });

    return {
      lineChart,
      covidDetail,
      display,
      country,
    };
  },
};
</script>

<style scoped>
.container {
  max-width: 80%;
  padding: 2rem 0;
}
</style>
